command -v fzf &> /dev/null || return

. "{{ .path.fzf_key_bindings }}"
. "{{ .path.fzf_completion }}"

# TODO: Install this script with system's package manager
if [[ -e "${HOME}/.local/share/fzf/fzf-git.sh" ]]; then
    . "${HOME}/.local/share/fzf/fzf-git.sh"
    bindkey -r '^g'  # Unbind this (list-expand) as it interferes with fzf-git

    functions[_fzf_git_branches_orig]=$functions[_fzf_git_branches]

    _fzf_git_branches () {
        _fzf_git_branches_orig --preview-window=right,rounded,50%
    }

    # fzf-git overrides style from bat's config. Override the override.
    command -v bat &>/dev/null && _fzf_git_cat="bat --color=always"
fi

rg_opts="--files --follow --hidden --glob '!.git/*'"
preview_window_opts="--preview-window hidden --bind '?:toggle-preview'"

# Show prompt on top
export FZF_DEFAULT_OPTS="--reverse -1"
# --files: List files that would be searched but do not search
# --follow: Follow symlinks
export FZF_DEFAULT_COMMAND="rg ${=rg_opts} 2>/dev/null"
export FZF_COMPLETION_TRIGGER=";;"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS="--tiebreak=end --preview '(bat --color=always {} || cat {}) 2>/dev/null | head -200' ${=preview_window_opts}"
export FZF_ALT_C_COMMAND="fd --type=d"
export FZF_ALT_C_OPTS="--tiebreak=end --preview 'tree -C {} | head -200' ${=preview_window_opts}"
[[ -n "${TMUX:-}" ]] && export FZF_TMUX_OPTS="-p 75%,75%"

unset rg_opts preview_window_opts

# Use ripgrep instead of the default find command for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
function _fzf_compgen_path() {
    rg --files --follow --hidden --glob '!.git/*' 2>/dev/null "$1" | sed 's@^\./@@'
}

# vim: ft=zsh
