function w() {
    local srcdir workondir
    local -a searchdirs

    srcdir="${SRC_DIR:-${HOME}/src}"
    {{- if eq .chezmoi.hostname "xenomorph" }}
    searchdirs=("${HOME}/src" "${HOME}/src/private" "${HOME}/src/boost")
    {{- else }}
    searchdirs=("${HOME}/src")
    {{- end }}

    if [[ -n "${1:-}" ]]; then
        workondir="${srcdir}/${1}"
        if [[ -d "${workondir}" ]]; then
            cd "${workondir}"
            return 0
        fi
    fi

    prj=$(find "${=searchdirs}" -maxdepth 1 -mindepth 1 -type d -print \
        | sed "s@^${srcdir}/@@" \
        | $(__fzfcmd) -q "${@:-}")

    if [[ -z "${prj}" ]]; then
        echo "No project selected" 1>&2
        return 2
    fi

    workondir="${srcdir}/${prj}"

    if [[ -d "${workondir}" ]]; then
        cd "${workondir}"
    else
        echo "Invalid environment: ${prj}" 1>&2
        return 1
    fi
}

# vim: ft=zsh
