{{- $email := promptStringOnce . "email" "Email Address" "acidrain1@gmail.com" -}}
{{- $signingkey := promptStringOnce . "signingkey" "GPG Signing Key" -}}
{{- $makejobs := promptIntOnce . "makejobs" "Number of Parallel Make Jobs" 4 -}}
{{- $enable_coc_nvim := promptBoolOnce .neovim "enable_coc_nvim" "Enable coc.nvim" true -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
email = {{ $email | quote }}
signingkey = {{ $signingkey | quote }}
makejobs = {{ $makejobs }}
osid = {{ $osid | quote }}

[data.command]
{{- if eq .chezmoi.os "darwin" }}
clip = "pbcopy"
xargs = "xargs"
{{- else }}
clip = "xsel --clipboard"
xargs = "xargs -r"
{{- end }}

[data.path]
{{- if eq .chezmoi.os "darwin" }}
fzf_completion = "/usr/local/opt/fzf/shell/completion.zsh"
fzf_key_bindings = "/usr/local/opt/fzf/shell/key-bindings.zsh"
pyenv_completion = ""  # TODO
virtualenvwrapper_lazy = "/usr/local/bin/virtualenvwrapper_lazy.sh"
zsh_syntax_highlighting = "/usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{- else if eq .osid "linux-fedora" }}
fzf_completion = "/usr/share/zsh/site-functions/fzf"
fzf_key_bindings = "/usr/share/fzf/shell/key-bindings.zsh"
pyenv_completion = ""  # TODO
virtualenvwrapper_lazy = "/usr/bin/virtualenvwrapper_lazy.sh"
zsh_syntax_highlighting = "/usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{- else if eq .osid "linux-debian" }}
fzf_completion = "/usr/share/doc/fzf/examples/completion.zsh"
fzf_key_bindings = "/usr/share/doc/fzf/examples/key-bindings.zsh"
pyenv_completion = ""  # TODO
virtualenvwrapper_lazy = ""  # TODO
zsh_syntax_highlighting = "/usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{- else }}
fzf_completion = "/usr/share/fzf/completion.zsh"
fzf_key_bindings = "/usr/share/fzf/key-bindings.zsh"
pyenv_completion = "/usr/share/zsh/site-functions/_pyenv"
virtualenvwrapper_lazy = "/usr/bin/virtualenvwrapper_lazy.sh"
zsh_syntax_highlighting = "/usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{- end }}
jetbrains_jre = "/usr/lib/jvm/java-18-openjdk"

[data.pipewire]
{{- if eq .chezmoi.hostname "xenomorph" }}
clock_rate = 96000
quantum = 2048
min_quantum = 2048
max_quantum = 8192
{{- else }}
clock_rate = 48000
quantum = 1024
min_quantum = 16
max_quantum = 2048
{{- end }}

[data.neovim]
enable_coc_nvim = {{ $enable_coc_nvim }}

# vim: ft=toml
