#! /bin/bash

set -euo pipefail

. ~/.local/lib/log.sh

APPS=(
    'bat'
    'cargo'
    'colordiff'
    'exa'
    'fd'
    'fzf'
    'handlr'
    'jq'
    'lrzip'
    'node'
    'rg'
    'sd'
    'tmux'
    'yarn'
    {{- if eq .chezmoi.os "darwin" }}
    'terminal-notifier'
    {{- else }}
    'xsel'
    {{- end }}
)

MISSING_APPS=""
for app in "${APPS[@]}"; do
    command -v "$app" &> /dev/null || MISSING_APPS="${MISSING_APPS}${app} "
done

[[ -z "$MISSING_APPS" ]] || info "Don't forget to install the following: ${MISSING_APPS}"

{{- if eq .chezmoi.os "darwin" }}
# https://medium.com/@dubistkomisch/how-to-actually-get-italics-and-true-colour-to-work-in-iterm-tmux-vim-9ebe55ebc2be
info "Don't forget to set xterm-256color-italic in iTerm2 profile"
{{- end }}

# vi: ft=sh
