context.properties = {
    default.clock.quantum     = {{ .pipewire.quantum }}
    default.clock.min-quantum = {{ .pipewire.min_quantum }}
    default.clock.max-quantum = {{ .pipewire.max_quantum }}
}
