function bak() {
    if [ $# -lt 1 ]; then
        echo "Usage: $0 [-n] folder"
        return 1
    fi

    compress=1
    if [ "$1" = "-n" ]; then
        shift 1
        compress=0
    fi

    input="$(basename "$1")"
    dir="$(dirname "$1")"
    output="${input#.}.$(date +%Y%m%d-%H%M%S).tar"

    if [ "$compress" -eq 1 ]; then
        tar cf - -C "$dir" "${input}" | lrzip > "${output}.lrz"
    else
        tar cf "${output}" -C "$dir" "${input}"
    fi
}

function mcd() {
    [[ -d "$1" ]] || mkdir -p "$1"
    cd "$1"
}
compdef mcd='mkdir'

function get_ext() {
    # http://reasoniamhere.com/2014/01/11/outrageously-useful-tips-to-master-your-z-shell/
    # :e -> Ext
    echo ${1:e}
}

function remove_ext() {
    # http://reasoniamhere.com/2014/01/11/outrageously-useful-tips-to-master-your-z-shell/
    # :t -> Tail (basename)
    # :r -> Remove ext?
    #echo ${1:t:r}
    echo ${1:r}
}

function clip() {
    cat "$1" | {{ .command.clip }}
}

function fix-perm {
    find -type f -not -perm 644 -print0 | {{ .command.xargs }} -0 chmod 644
    find -type d -not -perm 755 -print0 | {{ .command.xargs }} -0 chmod 755
}

function f {
    open "${@:-.}"
}

function showargs() {
    echo "Got $# argument(s):"
    for arg; do
        echo ">> $arg"
    done
}

# vim: ft=zsh
